* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  *,
*::before,
*::after {
	box-sizing: inherit;
}
a,
label {
	-webkit-tap-highlight-color: transparent;
}

input[type=text],
input[type=submit],
textarea {
	-webkit-appearance: none;
}

  html{
    width: auto !important;
	overflow-x: hidden !important;
  }
body {
    width: auto !important;
	overflow-x: hidden !important;
    -webkit-text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
    background-color: #262626;
    background-size: cover;
}
.intro {
    max-height: 100vh;
}
video {
    position: absolute;
}
.video__media {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    overflow: hidden;
    z-index: -9999;
    opacity: 0.3;
}

.wrap {
    width: 100%;
}
.logo {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
.logo img {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    height: 300px;
}

.counter {
    width: 100%;
    margin-top: 30px;
}
.wrap__counter {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
.counter__text p {
    font-family: 'PhonkSans';
    font-size: 78px;
    font-weight: bold;
    color: #fff;
    color: transparent;
    margin-bottom: 30px;
    -webkit-text-stroke: 1px #029a6d;
    text-stroke: 1px #029a6d;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #029a6d;
}

.qtickets__btn {
    width: 180px;
    margin: 0 auto;
    margin-top: 50px;
}



.socNetwork {
    width: 100%;
}
.socNetwork h2 {
    text-align: center;
    margin:  0 auto;
    color: #029a6d;
    font-family: 'PhonkSans';
    font-weight: 500;
    line-height: 25px;
    font-size: 32px;
}
.wrap__socNetwork {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 80px;
}
.socNetwork__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 0 40px 0;
}
.socNetwork-img {
    width: 50px;
    height: 50px;

}

.footer__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;


}
.footer__logo img {
    width: 300px;
    padding-left: 10px;
}
.footer__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}
.footer__item p {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 16px;
    color: #C0C0C0;
    margin-right: 30px;
}
.footer__item a {
    font-family: 'Montserrat';
    font-size: 18px;
    color: #C0C0C0;
    text-decoration: 1px underline #535957;

}




/* Таймер времени*/
.timer__items {
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: #fff;
    font-family: 'PhonkSans';
  }
  .timer__item {
    position: relative;
    min-width: 60px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 15px;
    text-align: center;
  }
  .timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 18px;
    color: #029a6d;
    font-family: 'PhonkSans';
  }
  /* .timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
  } */